{% extends "layout.html" %}
{% block body %}
<div class="container">
  <img src="/static/images/{{photo.get_picid()}}.{{photo.get_format()}}" style="width:100%;height=100%;" alt=""/>
<p class="text-center" id="pic_{{photo.get_picid()}}_caption"> {{ photo.get_caption() }} </p>
<div class="btn-group_s text-center" role="group" aria-label="...">
  {% if photo.get_prevID() != None %}
  <a id="prev_pic" type="button" class="btn btn-default" href="{{ url_for('album.pic_route') }}?id={{ photo.get_prevID() }}">Previous</a>
  {% endif %}
  <a id="parent_album" type="button" class="btn btn-default" href="{{ url_for('album.album_route') }}?id={{ photo.get_albumID() }}">Return to Album</a>
  {% if photo.get_nextID() != None %}
  <a id="next_pic" type="button" class="btn btn-default" href="{{ url_for('album.pic_route') }}?id={{ photo.get_nextID() }}">Next</a>
  {% endif %}
</div>
{% if edit == True %}
<form class="form-inline col-md-offset-3" action="{{ url_for('album.pic_route') }}?id={{ photo.get_picid() }}" method="post" enctype="multipart/form-data">
  <input type="hidden" name="op" value="caption">
  <input type="hidden" name="picid" value="{{photo.get_picid()}}">
  <input id="pic_caption_input" type="text" name="caption">
  <button id="pic_caption_submit" type="submit" class="btn btn-primary col-md-offset-0">Change Caption</button> 
</form>
{% endif%}
</div>
{% endblock %}
