{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h2 class="text-center"> Login </h2>
  <form id="login_form" class="form-inline col-md-offset-3" >
    <input id="login_username_input" type="text" name="username" class="form-control" placeholder="Username" />
    <input id="login_password_input" type="password" name="password" class="form-control" placeholder="Password" />
    <button id="login_submit" type="submit" class="btn btn-primary col-md-offset-2"> Login </button> 
  </form>
  {% if error == 'Invalid username' %}
  <p class="error" id="error_username">Username does not exist</p>
  {% elif error == 'Invalid password'%}
  <p class="error" id="error_combo">Incorrect password</p>
  {% endif %}
</div>

<script>
    $("#login_form").submit(function(event){
        event.preventDefault();
        console.log("got here");
        var user_req = {
            username: $("#login_username_input").val(),
            password: $("#login_password_input").val()
        }

        $.ajax({
            url: "{{ url_for('index.login_api')}}",
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(user_req),
            success: function(result){
                console.log("success function");
                $("#login_username_input").val(""),
                $("#login_password_input").val("")
                if ("{{request.args.get('url')}}" == "None"){
                  $(location).attr('href', "{{ url_for('index.main_route') }}")
                }
                else {
                  $(location).attr('href', "{{request.args.get('url')}}")
                }
            },
            error: function(error_resp){
                console.log("ERROR");
            }
        });
    });
</script>



{% endblock %}
