{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h2 class="text-center">Edit Profile for {{ user.get_username() }}</h2>

    <form class="col-md-offset-3 col-md-3" id="update_user">
			<input id="update_username_input" type="hidden" name="username" value="{{ user.get_username() }}">
      <div class="form-group">
        <input id="update_firstname_input" type="text" name="firstname" class="form-control" placeholder="New First Name">
      </div>
      <div class="form-group">
        <input id="update_lastname_input" type="text" name="lastname" class="form-control" placeholder="New Last Name">
      </div>
      <div class="form-group">
        <input id="update_email_input" type="text" name="email" class="form-control" placeholder="New Email">
      </div>
      <div class="form-group">
        <input id="update_password1_input" type="password" name="password1" class="form-control" placeholder="New Password">
      </div>
      <div class="form-group">
        <input id="update_password2_input" type="password" name="password2" class="form-control" placeholder="Confirm Password">
      </div>
      <button id="update_submit" type="submit" class="btn btn-primary">Submit Chagnes</button>
    </form>
</div>

<script>
	$("#update_user").submit(function(event){
		// Prevents the form from submitting normally
		event.preventDefault();

		$("#error_list").empty();
		function printErrors(inerrors){
			console.log(inerrors);
			for (i = 0; i < inerrors.length; ++i){
				$("#error_list").append("<li><p class=error>" + inerrors[i] + "</p></li>");
			}
		}
		var update_req = {
			username: $("#update_username_input").val(),
			firstname: $("#update_firstname_input").val(),
			lastname: $("#update_lastname_input").val(),
			email: $("#update_email_input").val(),
			password1: $("#update_password1_input").val(),
			password2: $("#update_password2_input").val()
		};

		errors = [];
		if (update_req.password1.length > 0 || update_req.password2.length > 0){
			validatePassword(update_req.password1, update_req.password2, errors);
		}
		validateEmail(update_req.email, errors);
		validateFirstname(update_req.firstname, errors);
		validateLastname(update_req.lastname, errors);
		console.log(errors);

		if (errors.length == 0){
			console.log("Made request to server");
			$.ajax({
				url: "{{ url_for('user.user_edit_api') }}",
				type: 'PUT',
				contentType: "application/json",
				data: JSON.stringify(update_req),
				success: function(result){
					// Do nothing, this is intentional, see piazza @1161
				},
				error: function(error_resp){
					displayErrors(error_resp);
				}
			});
		}
		else{
			printErrors(errors);
		}
	});
</script>

{% endblock %}
