{% extends "layout.html" %}
{% block body %}
<div class="container">
	<form id="new_user" class="col-md-offset-3 col-md-3">
  <div class="form-group">
    <input type="text" name="username" class="form-control" id="new_username_input" placeholder="username">
  </div>
  <div class="form-group">
    <input type="text" name="firstname" class="form-control" id="new_firstname_input" placeholder="first name">
  </div>
  <div class="form-group">
    <input type="text" name="lastname" class="form-control" id="new_lastname_input" placeholder="last name">
  </div>
  <div class="form-group">
    <input type="text" name="email" class="form-control" id="new_email_input" placeholder="email">
  </div>
  <div class="form-group">
    <input type="password" name="password1" class="form-control" id="new_password1_input" placeholder="password">
  </div>
  <div class="form-group">
    <input type="password" name="password2" class="form-control" id="new_password2_input" placeholder="confirm password">
  </div>
  <button type="submit" class="btn btn-primary" id="new_submit">Submit</button> 
</form>

<script>
	$("#new_user").submit(function(event){
		// Prevents the form from submitting normally
		event.preventDefault();

		$("#error_list").empty();
		function printErrors(inerrors){
			for (i = 0; i < inerrors.length; ++i){
				$("#error_list").append("<li><p class=error>" + inerrors[i] + "</p></li>");
			}
		}
		
		var user_req = {
			username: $("#new_username_input").val(),
			firstname: $("#new_firstname_input").val(),
			lastname: $("#new_lastname_input").val(),
			email: $("#new_email_input").val(),
			password1: $("#new_password1_input").val(),
			password2: $("#new_password2_input").val()
		};

		errors = [];
		validateUsername(user_req.username, errors);
		validateFirstname(user_req.firstname, errors);
		validateLastname(user_req.lastname, errors);
		validateEmail(user_req.email, errors);
		validatePassword(user_req.password1, user_req.password2, errors);
		console.log(errors);

		if (errors.length == 0){
			console.log("Made the request to the server");
			$.ajax({
				url: "{{ url_for('user.user_api') }}",
				type: 'POST',
				contentType: "application/json",
				data: JSON.stringify(user_req),
				success: function(result){
					console.log("Success function");
					$("#new_username_input").val("");
					$("#new_firstname_input").val("");
					$("#new_lastname_input").val("");
					$("#new_email_input").val("");
					$("#new_password1_input").val("");
					$("#new_password2_input").val("");
				},
				error: function(error_resp){
					displayErrors(error_resp);
				}
			});
		}
		else{
			printErrors(errors);
		}
	});
</script>
{% endblock %}
